<footer class="footer-distributed">
  <div class="container">
    <div class="footer">

      <h3>{{ site.title }}</h3>

      <p>{{ site.description }}</p>

      <ul class="social-media">
        <li>
          <a title="{{ site.github_username }} on Github" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        </li>

        <li>
          <a title="{{ site.title }} RSS" href="{{ '/feed.xml' | prepend: site.baseurl }}" target="_blank"><i class="fa fa-rss fa-2x"></i></a>
        </li>
      </ul>

    </div>
  </div>
</footer>
