---
layout: default
---
<article>
  <div class="article">
    <div class="well">
      <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>

      <div class="post-meta">
        <div class="post-time">
          <i class="fa fa-calendar"></i>
          <time>{{ page.date | date_to_string }}</time>
        </div>
        <ul>
          {% for tag in page.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="post-content">
        <div id="toc" class="toc"></div>
        {{ content }}
      </div>

      <div class="post-comments">
        <h2>Discusión</h2>
        <div id="discourse-comments"></div>
      </div>

      <script type="text/javascript">
        DiscourseEmbed = {
          discourseUrl: 'https://foro.lug.fi.uba.ar/',
          discourseEmbedUrl: '{{ page.url | prepend: site.baseurl | prepend: site.url }}'
        };

        (function() {
          var d = document.createElement('script');
          d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
    </div>
  </div>
</article>
